@import 'variables';

html {
  font-size: 14px;
  font-family: $font-main;

}

body {
  width: 100%;
  background: $color-dark;
  height: 100vh;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

h1
{
  font-family: $font-h1;
  font-weight: 400;
  font-size: 5rem;
  color: $color-main1;

}