// colors
$color-main1: #d4af37;
$color-main2: #193b53;
$color-main3-contrast: #b81719;
$color-main3-contrast-darker: #911719;
$color-tree-light: #2c5753;
$color-tree-mid: #274d4a;
$color-tree-dark: #22403d;
$color-dark: #303030;
$color-light: #efefef;

// fonts
$font-main: 'Lato', sans-serif;
$font-h1:'Cinzel', serif;
$font-letter: 'Dancing Script', cursive;

//tree triangle
$base: 10px;