@import '../general/variables';


.login-or-register
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
  .lor-btn
  {
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    color: $color-light;
    background: $color-main3-contrast;
  }
  .log-in-btn
  {
    word-spacing: 0.5rem;
  }
}

