@import '../general/variables';
@import '/background-img';
@import '/login-or-register';





.sky
{
  height: 100vh;
  width: inherit;
  background: $color-main2;
  //background-color: rgba(25,59,83,1);
  //background: @include filter-gradient(#193b53, #1f5057, vertical);
  //background: @include background-image(linear-gradient(top, rgba(25,59,83,1) 0%, rgba(31,80,87,1) 100%));

  background: rgba(29,69,98,1);
  background: -moz-linear-gradient(top, rgba(29,69,98,1) 0%, rgba(38,96,105,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29,69,98,1)), color-stop(100%, rgba(38,96,105,1)));
  background: -webkit-linear-gradient(top, rgba(29,69,98,1) 0%, rgba(38,96,105,1) 100%);
  background: -o-linear-gradient(top, rgba(29,69,98,1) 0%, rgba(38,96,105,1) 100%);
  background: -ms-linear-gradient(top, rgba(29,69,98,1) 0%, rgba(38,96,105,1) 100%);
  background: linear-gradient(to bottom, rgba(29,69,98,1) 0%, rgba(38,96,105,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4562', endColorstr='#266069', GradientType=0 );


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


  .graphic
  {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .text
  {
    height: 70%;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    .h2
    {
      width: 100%;
      font-weight: 500;
      text-align: justify-all;
      letter-spacing: 0.4rem;
      font-size: 1rem;
      word-spacing: 0.7rem;
      line-height: 1.5rem;
    }
    .h2 h2:nth-of-type(2)
    {
      word-spacing: 0.1rem;
      margin-bottom: 70px;
    }
  }

}




h1{
  font-size: 100px;
}

.App{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}


.snow
{
  height: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: visible;
}

.Snowflake {
  dispalay: flex;
  color: #FAFAFA;
  opacity: 0;
  position: relative;
}

@keyframes fall {
  0% {
    opacity: 1;

  }
  3% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 70vh);
    opacity: 0;
  }
}


//header

.header
{
  height: 70px;
  width: 100%;
  background: $color-light;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;

  .fa-user
  {
    color: $color-tree3;
    padding-left: 30px;
  }

  .log-in-data
  {
    display: flex;
    align-items: center;


    h2
    {
      font-size: 1.2rem;
    }
  }



}