@import '../general/variables';

//snow-ground
@mixin base-snowdrift
{
  background: $color-light;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: relative;
}
.snow-ground
{
  width: 100%;
  height: 300px;
  position: relative;
  bottom: 1px;
  overflow: hidden;
  .snowdrift1
  {
    @include base-snowdrift;
    top: 250px;
    left: 700px;
  }
  .snowdrift2
  {
    @include base-snowdrift;
    top: -550px;
    left: 280px;
  }
  .snowdrift2::after
  {
    content: '';
    display: block;
    @include base-snowdrift;
    top: -20px;
    right: -220px;
  }
  .snowdrift3
  {
    @include base-snowdrift;
    top: -1380px;
    left: -245px;
  }
  .snowdrift3::after
  {
    content: '';
    display: block;
    @include base-snowdrift;
    top: 20px;
    left: 245px;
  }


}

//trees
@mixin base-tree
{
  width: 0;
  height: 0;
  position: relative;
}

.tree
{
  height: $base*9;
  width: $base*10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;

  .tree-triangle
  {
    border-left: $base*3 solid transparent;
    border-right: $base*3 solid transparent;
    border-bottom: $base*4 solid $color-tree-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    @include base-tree;
    padding-top: $base;

  }
  .tree-triangle::before
  {
    content: '';
    display: block;
    border-left: $base*4 solid transparent;
    border-right: $base*4 solid transparent;
    border-bottom: $base*5 solid $color-tree-dark;
    @include base-tree;
    left: $base*2;
    top: $base*4;
  }

  .tree-triangle::after
  {
    content: '';
    display: block;
    border-left: $base*2 solid transparent;
    border-right: $base*2 solid transparent;
    border-bottom: $base*3 solid $color-tree-dark;
    @include base-tree;
    top: 0;
    right: $base*4;
  }

}
