@import '../general/variables';


.login-or-register
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
  margin-top: 280px;

  .log-in-btn
  {
    word-spacing: 0.5rem;
  }
}
.lor-btn
{
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  color: $color-light;
  background: $color-main3-contrast;
  line-height: 1.5rem;
  z-index: 2;
}
.lor-btn:hover
{
  background: $color-main3-contrast-darker;
  cursor: pointer;
}


//form
.login-or-register {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .lor-background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 70%;
    background: rgba(250, 250, 250, 0.15%);
    border: 6px solid $color-main1;

    form {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      label {
        padding: 10px 0 5px 0;
      }

      input {
        padding: 5px;
      }

      input:focus
      {
        -webkit-box-shadow: 0 0 10px 0 $color-main1;
        -moz-box-shadow: 0 0 10px 0 $color-main1;
        box-shadow: 0 0 10px 0 $color-main1;
        border: none;
      }

      h3
      {
        align-self: center;
      }

      .submit {
        align-self: center;
        width: 100%;
        padding: 10px;
        margin: 30px 0 10px 0;
        border-radius: 20px;
        background: $color-main3-contrast;
        color: $color-light;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.1rem;
        z-index: 3;
      }

      .back-btn {
        line-height: 10px;
        align-self: center;
        width: 100%;
        padding: 10px;
        margin: 0 0 10px 0;
        border-radius: 20px;
        background: $color-main3-contrast;
        color: $color-light;
        font-weight: 700;
        font-size: 1rem;
        word-spacing: 0.5rem;
        z-index: 3;
      }
    }
  }

  //.login-or-register::before {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  height: 96%;
  //  width: 96%;
  //  padding: -20px;
  //  border: 1px solid $color-main1;
  //}


}

.progress-box
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;


  .progress
  {
    width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    border: 3px solid $color-main2;
    overflow: hidden;
  }

  h2
  {
    margin-bottom: 10%;
    font-weight: 500;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
  }

  i
  {
    margin-bottom: 20%;
    animation: linear rollingSnowflake 5s infinite;
    color: $color-main1;
  }

}


@keyframes rollingSnowflake {

  0%
  {
    transform: rotate(0deg);
  }

  100%
  {
    transform: rotate(360deg);
  }

}